<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Basic</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="style.css">
</head>

<body>
  <div class="container">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure maxime eius quia dolorum ipsa corporis sapiente quas
    dicta maiores omnis molestiae quae dolorem tenetur reiciendis nam, saepe odio facere animi. Inventore tempora
    ducimus totam ipsa laborum repellendus fugiat, earum illo placeat maiores facere, omnis nam expedita, dolorum dolor
    dignissimos voluptates voluptas veniam! Impedit, neque qui, odio maiores architecto perspiciatis in totam placeat
    molestias numquam sed magnam itaque dolores illo quia? Earum quo obcaecati praesentium cupiditate optio voluptatibus
    asperiores rerum iure suscipit soluta dolorum corporis illo quasi ipsa non consequatur ratione labore, minima,
    eveniet repellendus odit esse molestiae. Sequi facilis eveniet cumque earum quis incidunt error nisi nam
    consequuntur, iure consectetur voluptatum, tempora fuga velit. Qui non consectetur cupiditate vero rem omnis nemo
    molestiae minus, incidunt dolorum commodi deserunt quibusdam illum cum amet temporibus expedita. Mollitia excepturi,
    culpa dolores vitae accusantium, tempora earum ex esse quis neque ullam laborum hic, a molestiae iusto ipsum
    expedita deserunt minus aliquam suscipit? Architecto, aliquam quibusdam nulla consequatur sapiente accusamus maiores
    voluptatum tempora, et expedita quae blanditiis ad voluptates sit tempore mollitia. Ratione quisquam aliquid
    reprehenderit dicta veritatis. Vero nulla tempora libero aut iusto fuga. Consequuntur est corporis consequatur ex
    laborum libero aliquam eos aut earum dicta, dolorum ea dolore architecto quisquam error, omnis voluptates explicabo
    necessitatibus accusantium cum quos nisi. Ducimus, vero architecto fuga in tempora et pariatur, sequi eveniet eius
    eum atque expedita asperiores recusandae accusamus hic ea, cupiditate consectetur laudantium. Earum explicabo
    doloribus omnis vero quibusdam ad optio nulla delectus sint error, reprehenderit aliquam commodi accusantium eos
    minima sunt animi nostrum corporis, dolore dolorum ullam magni dicta. Et amet voluptatibus quod odit blanditiis
    voluptate nisi expedita eos mollitia explicabo. Totam maiores laudantium repellendus. Accusamus doloribus voluptate
    aspernatur dolore repudiandae incidunt ratione quas cum quia molestias, exercitationem similique iusto quae
    blanditiis harum architecto!
  </div>
</body>

</html>